:root {
    --primary-color: #4F81FA;
    --secondary-color: #f50057;
    --navbar-height: 70px;
    --navbar-color: #666D7D;
    --text-color: #14203F;
    --website-color: #FFFD44;
    --backgroud-color: white;
    --continue-button-color: #4F81FA;
    --cancel-button-color: #f50057;
}

body,
html {
    overflow-x: none;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: var(--primary-color)
}

h2 {
    color: var(--secondary-color)
}

button {
    min-height: 60px;
    border-style: none;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
    outline: none;
}

button:focus {
    outline: none;
}

.hidden {
    display: none !important;
}

.test {
    color: chartreuse;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}