:root {
    --primary-color: #95B3FC;
    --secondary-color: #95B3FC;
    --navbar-height: 80px;
    --navbar-color: rgb(36, 36, 36);
    --text-color: #14203F;
    --website-color: white;
    --backgroud-color: white;
    --post-container-color: #B9CDFD;
    --post-add-comment-button: #4F81FA;
    --comment-container-color: #DCE6FE;
    --new-comment-container-color: #DCE6FE;
    --continue-button-color: #4F81FA;
    --cancel-button-color: #666666;
    --error-color: red;
    --thumbnail-color: #e6e6e6;
}

body,
html {
    overflow-x: none;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: var(--primary-color)
}

h2 {
    color: var(--secondary-color)
}

button {
    min-height: 60px;
    border-style: none;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
    outline: none;
}

button:focus {
    outline: none;
}

.hidden {
    display: none !important;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}