.beeButtonComponent {
    position: relative;
    width: 40px;
    height: 40px;
}

.beeButtonComponent_counter {
    height: 25px;
    width: 25px;
    background-color: tomato;
    color: white;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    position: relative;
    bottom: 10px;
    left: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.beeButtonComponent_icon {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 5px;
    left: 0px;
}