.beeButtonComponent {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.beeButtonComponent_counter {
    height: 25px;
    font-size: 12px;
    align-items: center;
    width: 25px;
    background-color: tomato;
    color: white;
    border-radius: 20px;
    /* border-width: 1px;
    border-color: white;
    border-style: solid; */
    position: relative;
    bottom: 10px;
    left: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.beeButtonComponent_icon {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}