.beeComponent {
    /* position: absolute; */
    /* background-color: var(--primary-color); */
    background-color: rgb(94, 94, 94);
    border-radius: 15px;
    width: 100%;
    height: 175px;
    margin: 0px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.beeComponent_avatar_container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.beeComponent_info_container {
    height: 100%;
    width: 65%;
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.beeComponent_buttons_container {
    height: 85%;
    width: 15%;
    padding: 0px 25px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.beeComponent_name {
    font-size: 30px;
    /* font-weight: bold; */
    color: white;
    line-height: 1.25;
    margin-bottom: 50px;
}

.beeComponent_email {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.25;
    color: rgb(36, 36, 36);
    margin-bottom: 5px;
}

.beeComponent_website {
    font-size: 15px;
    line-height: 1.25;
    color: var(--website-color);
}

.beeComponent_avatar {
    max-width: calc(100% - 10px);
    height: calc(100% - 20px);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(36, 36, 36);
    margin-left: 10px;
    object-fit: cover;
    border-radius: 15px;
}

@media (max-width: 600px) and (orientation: portrait) {
    .beeComponent_name {
        font-size: 25px;
    }
    .beeComponent_email {
        font-size: 13px;
    }
    .beeComponent_website {
        font-size: 15px;
        line-height: 1.5;
    }
    .beeComponent_avatar {
        /* width: calc(100% - 10px);
        height: calc(100% - 20px);
        margin-left: 20px;
        object-fit: cover; */
    }
}