.postComponent {
    background-color: var(--background-color);
    width: calc(100% - 10px);
    height: auto;
    margin: 0px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.postComponent_title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    line-height: 1.25;
    margin: 20px 10px 20px 10px;
}

.postComponent_body {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    line-height: 1.25;
    margin: 0px 10px 20px 10px;
}

.postComponent_comments_container {
    background-color: gray;
    width: calc(100% - 10px);
    height: 200px;
    /* margin: 0pc 5px 5px 5px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}